.header
.container
  .col-md-8
    %h2= @car.name
    %h5= @car.category
    %p= @car.description

    = form_for([@car, Reservation.new]) do |f|
      .form-group
        = f.label :username, 'Imię i nazwisko wypożyczającego'
        = f.text_field :username
      .form-group
        = f.label 'Data rozpoczęcia rezerwacji:'
        = f.date_select :begin_date
      .form-group
        = f.label 'Data zakońcenia rezerwacji:'
        = f.date_select :end_date
      .form-group
        = f.submit 'Zapisz', class: 'btn btn-primary'

    - if !flash[:error].nil?
      .alert.alert-error
        %button.close{:type => 'button', 'data-dismiss' => 'alert'} ×
        %strong= flash[:error]

    - @car.reservations.each do |c|
      %h2= c.username
      %h5= c.begin_date
      %h5= c.end_date
  .col-md-4
